nav.bg-primary {
    background: transparent !important;
    max-height: 90px;
    padding: 0;
    transition: 500ms ease;
}

nav.bg-primary.scrolled {
    background: black !important;
    max-height: 50px;
    padding: 0;
}

img .navbar {
    max-width: 200px;
    margin-top: 0px;
    padding-left: 30px;
    z-index: -50;
}

img .navbar:scrolled {
    max-width: 200px;
    max-height: 50px;
    margin-top: 0px;
}

 nav {
    padding: 0;
    font-size: small;
    vertical-align: middle;
}

.navbar-toggler {
    padding-top: 0;
    font-size: 1rem;
}

.nav-link {
    color: white !important;
}

.nav-link:hover {
    border-bottom: 3px solid red;
}

a.nav-link.active {
    border-bottom: 3px solid red !important;
}

li.nav-item {
    margin: 2px 5px;
}

div.dropdown-menu {
    border-top-color: red;
    color: white;
    background-color: black;
    max-height: 80px;
}

.dropdown-item {
    color: white;
    background-color: black;
    max-height: 80px;
}

a.dropdown-item:hover {
    color: white;
    background-color: #1C80C6;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
    color: white;
    background-color: black;
}

.card {
    border: 0px;
}